# Data
data/raw/
data/interim/**/*.h5
data/processed/**/*.h5
data/processed/**/*.json
!**/.gitkeep

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environments
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.claude/
